html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  margin: 0;
  background-color: var(--color-bg);
  height: 100%;
}

h2 {
  color: var(--color-accent);
  align-self: center;
  margin-top: 0;
  margin-bottom: 2px;
}

.removed {
  display: none !important;
}

.hidden {
  display: none;
}

.flexer {
  flex: 1;
}

.input-group > label {
  display: block;
  margin-bottom: 5px;
}
