/* Left Column - Level Display */
#left-column {
  width: 75px;
  border: var(--border-panel);
  display: flex;
  flex-direction: column;
}

#level-display {
  padding: 2px;
}

#left-column-colored-blocks {
  margin: 7px;
}

#left-column-colored-blocks > div {
  border-left: var(--border-width) solid var(--color-primary);
  border-right: var(--border-width) solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  height: 30px;
  background-clip: content-box;
  position: relative;
}

/* Put black line on top of the horizontal green borders between the colored blocks,
 so that only so first and the last pixels of the border are visible */
#left-column-colored-blocks > div:before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-bg);
  z-index: 1000;
  left: 2px;
  top: -1px;
  width: calc(100% - 4px);
  height: 1px;
}

#left-column-colored-blocks > div:last-child {
  border-bottom: var(--border-width) solid var(--color-primary);
  padding-bottom: 2px;
}

/* Right Column - Score Panel */
#right-column {
  width: 250px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
}

#panel {
  color: var(--color-border);
  display: flex;
  flex-direction: column;
  border: var(--border-panel);
  padding: var(--spacing-lg);
  margin: 5px;
  flex: 1;
  gap: var(--spacing-xl);
}

.value {
  border: var(--border-panel);
  padding: 0px;
  padding-top: var(--spacing-xs);
  font-size: var(--font-size-3xl);
  line-height: 30px;
}

.green-font {
  color: var(--color-score);
  font-weight: 600;
  text-align: right;
  padding-right: var(--spacing-lg);
}

.orange-font {
  color: var(--color-secondary);
  text-align: center;
}

.value-small {
  font-size: var(--font-size-xl);
}

.small-x {
  font-size: 20px;
  position: relative;
  bottom: 5px;
}
