html {
  height: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  background-color: black;
  height: 100%;
}

h2 {
  color: lightblue;
  align-self: center;
  margin-top: 0;
  margin-bottom: 2px;
}

.removed {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.input-group > label {
  display: block;
  margin-bottom: 5px;
}

#outer-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#scene-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#scene {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

#scene-debug {
  flex: 1;
  height: 500px;
  display: none;
}

#overlay {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#left-column {
  width: 75px;
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
}

#level-display {
  padding: 2px;
}

#left-column-colored-blocks {
  margin: 7px;
}

#left-column-colored-blocks > div {
  border-left: 3px solid greenyellow;
  border-right: 3px solid greenyellow;
  border-top: 1px solid greenyellow;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  height: 30px;
  background-clip: content-box;
  position: relative;
}

/* Put black line on top of the horizontal green borders between the colored blocks,
 so that only so first and the last pixels of the border are visible */
#left-column-colored-blocks > div:before {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  z-index: 1000;
  left: 2px;
  top: -1px;
  width: calc(100% - 4px);
  height: 1px;
}

#left-column-colored-blocks > div:last-child {
  border-bottom: 3px solid greenyellow;
  padding-bottom: 2px;
}

#right-column {
  width: 250px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

#panel {
  color: blue;
  display: flex;
  flex-direction: column;
  border: 3px solid blue;
  padding: 15px;
  margin: 5px;
  flex: 1;
  gap: 20px;
}

.value {
  border: 3px solid blue;
  padding: 0px;
  padding-top: 4px;
  font-size: 40px;
  line-height: 30px;
}

.green-font {
  color: #04a601;
  font-weight: 600;
  text-align: right;
  padding-right: 15px;
}

.orange-font {
  color: orange;
  text-align: center;
}

.flexer {
  flex: 1;
}

.value-small {
  font-size: 25px;
}

.small-x {
  font-size: 20px;
  position: relative;
  bottom: 5px;
}
